[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
Type=simple
ExecStart=/usr/bin/kanata -c /home/raendurikon/.config/kanata/config.kbd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
